<h2>About me</h2>
<hr>
<div class="row">
  <div class="col-md-4">
  	<%= image_tag "adrian", width: 300, alt: "profile image" %>
  </div>
  <div class="col-md-8">
    <p>My name is Adrian and I like programming. Bueno is the best dog in the world. Triple s, small, sweet and smart - Papillon. </p>
  </div>
</div>


