<div class="row">
  <div class="col-md-12">
    <h2>Would you like to work together?</h2>
  </div>
  <div class="col-md-6">
    <h3>Office Address</h3>
    <p>Grabiszyńska 253, 53-110 Wrocław</p>
    <h3>Phone</h3>
    <p><%= number_to_phone "123123123" %></p>
    <h3>Email</h3>
	<p><a href="mailto:kupiszewskiadrian@gmail.com?subject=PortfolioContact" "email me">Email me</a></p>
  </div>
  <div class="col-md-6">
 	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5011.273513989846!2d16.979305166980616!3d51.0967108639859!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470fc2069411cf29%3A0x2d5c1c3badcb61ec!2sLidl!5e0!3m2!1spl!2spl!4v1560252192111!5m2!1spl!2spl" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
   </div>
</div>
