<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">Welcome in my IT world. </p>
  <p class="lead">
    <%= link_to "About me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5011.273513989846!2d16.979305166980616!3d51.0967108639859!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470fc2069411cf29%3A0x2d5c1c3badcb61ec!2sLidl!5e0!3m2!1spl!2spl!4v1560252192111!5m2!1spl!2spl" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>